h1 {
    background-color: #c4c4c4;
    color: #005677;
    text-align: center;
}

h2 {
    background-color: #c4c4c4;
    color: #005677;
}

#pie{
    background-color: #005677;
    color: #ffffff;
}

#logobatman{
    align-items: center;
}